<?xml version="1.0"?>
<BackupJobAndRestorePointManager xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <RestorePointList>
    <RestorePoint>
      <ID>1</ID>
      <CreateTime>2021-11-27T12:35:50.7980812+03:00</CreateTime>
      <JobObjectsList>
        <FileOfJob>
          <Name>1.txt</Name>
          <Size>2</Size>
          <Path>Z:\1.txt</Path>
        </FileOfJob>
        <FileOfJob>
          <Name>2.txt</Name>
          <Size>2</Size>
          <Path>Z:\2.txt</Path>
        </FileOfJob>
      </JobObjectsList>
      <StorageRestorePoint>
        <ArchiveFileList>
          <ArchiveFile>
            <Name>1.txt.zip</Name>
            <Size>2</Size>
            <Path>Z:\backupJob\RestorePoint1\1.txt.zip</Path>
            <Files>
              <FileOfJob>
                <Name>1.txt</Name>
                <Size>2</Size>
                <Path>Z:\1.txt</Path>
              </FileOfJob>
            </Files>
          </ArchiveFile>
          <ArchiveFile>
            <Name>2.txt.zip</Name>
            <Size>2</Size>
            <Path>Z:\backupJob\RestorePoint1\2.txt.zip</Path>
            <Files>
              <FileOfJob>
                <Name>2.txt</Name>
                <Size>2</Size>
                <Path>Z:\2.txt</Path>
              </FileOfJob>
            </Files>
          </ArchiveFile>
        </ArchiveFileList>
        <Type>Split</Type>
      </StorageRestorePoint>
      <Directory>
        <Path>Z:\backupJob\RestorePoint1</Path>
        <Name>backupJob1</Name>
        <Files />
        <ArchiveFiles>
          <ArchiveFile>
            <Name>1.txt.zip</Name>
            <Size>2</Size>
            <Path>Z:\backupJob\RestorePoint1\1.txt.zip</Path>
            <Files>
              <FileOfJob>
                <Name>1.txt</Name>
                <Size>2</Size>
                <Path>Z:\1.txt</Path>
              </FileOfJob>
            </Files>
          </ArchiveFile>
          <ArchiveFile>
            <Name>2.txt.zip</Name>
            <Size>2</Size>
            <Path>Z:\backupJob\RestorePoint1\2.txt.zip</Path>
            <Files>
              <FileOfJob>
                <Name>2.txt</Name>
                <Size>2</Size>
                <Path>Z:\2.txt</Path>
              </FileOfJob>
            </Files>
          </ArchiveFile>
        </ArchiveFiles>
      </Directory>
      <Size>4</Size>
    </RestorePoint>
    <RestorePoint>
      <ID>2</ID>
      <CreateTime>2021-11-27T12:35:50.8048316+03:00</CreateTime>
      <JobObjectsList>
        <FileOfJob>
          <Name>1.txt</Name>
          <Size>2</Size>
          <Path>Z:\1.txt</Path>
        </FileOfJob>
      </JobObjectsList>
      <StorageRestorePoint>
        <ArchiveFileList>
          <ArchiveFile>
            <Name>1.txt.zip</Name>
            <Size>2</Size>
            <Path>Z:\backupJob\RestorePoint2\1.txt.zip</Path>
            <Files>
              <FileOfJob>
                <Name>1.txt</Name>
                <Size>2</Size>
                <Path>Z:\1.txt</Path>
              </FileOfJob>
            </Files>
          </ArchiveFile>
        </ArchiveFileList>
        <Type>Split</Type>
      </StorageRestorePoint>
      <Directory>
        <Path>Z:\backupJob\RestorePoint2</Path>
        <Name>backupJob2</Name>
        <Files />
        <ArchiveFiles>
          <ArchiveFile>
            <Name>1.txt.zip</Name>
            <Size>2</Size>
            <Path>Z:\backupJob\RestorePoint2\1.txt.zip</Path>
            <Files>
              <FileOfJob>
                <Name>1.txt</Name>
                <Size>2</Size>
                <Path>Z:\1.txt</Path>
              </FileOfJob>
            </Files>
          </ArchiveFile>
        </ArchiveFiles>
      </Directory>
      <Size>2</Size>
    </RestorePoint>
  </RestorePointList>
  <Job>
    <ActionsOfJob>
      <Name>backupJob</Name>
      <Path>Z:\backupJob</Path>
      <JobObjectsList>
        <FileOfJob>
          <Name>1.txt</Name>
          <Size>2</Size>
          <Path>Z:\1.txt</Path>
        </FileOfJob>
      </JobObjectsList>
      <RestorePointList>
        <RestorePoint>
          <ID>1</ID>
          <CreateTime>2021-11-27T12:35:50.7980812+03:00</CreateTime>
          <JobObjectsList>
            <FileOfJob>
              <Name>1.txt</Name>
              <Size>2</Size>
              <Path>Z:\1.txt</Path>
            </FileOfJob>
            <FileOfJob>
              <Name>2.txt</Name>
              <Size>2</Size>
              <Path>Z:\2.txt</Path>
            </FileOfJob>
          </JobObjectsList>
          <StorageRestorePoint>
            <ArchiveFileList>
              <ArchiveFile>
                <Name>1.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint1\1.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>1.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\1.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
              <ArchiveFile>
                <Name>2.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint1\2.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>2.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\2.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
            </ArchiveFileList>
            <Type>Split</Type>
          </StorageRestorePoint>
          <Directory>
            <Path>Z:\backupJob\RestorePoint1</Path>
            <Name>backupJob1</Name>
            <Files />
            <ArchiveFiles>
              <ArchiveFile>
                <Name>1.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint1\1.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>1.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\1.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
              <ArchiveFile>
                <Name>2.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint1\2.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>2.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\2.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
            </ArchiveFiles>
          </Directory>
          <Size>4</Size>
        </RestorePoint>
        <RestorePoint>
          <ID>2</ID>
          <CreateTime>2021-11-27T12:35:50.8048316+03:00</CreateTime>
          <JobObjectsList>
            <FileOfJob>
              <Name>1.txt</Name>
              <Size>2</Size>
              <Path>Z:\1.txt</Path>
            </FileOfJob>
          </JobObjectsList>
          <StorageRestorePoint>
            <ArchiveFileList>
              <ArchiveFile>
                <Name>1.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint2\1.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>1.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\1.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
            </ArchiveFileList>
            <Type>Split</Type>
          </StorageRestorePoint>
          <Directory>
            <Path>Z:\backupJob\RestorePoint2</Path>
            <Name>backupJob2</Name>
            <Files />
            <ArchiveFiles>
              <ArchiveFile>
                <Name>1.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint2\1.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>1.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\1.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
            </ArchiveFiles>
          </Directory>
          <Size>2</Size>
        </RestorePoint>
      </RestorePointList>
      <DirectoriesManager>
        <Directories>
          <DirectoryOfBackup>
            <Path>Z:\backupJob\RestorePoint1</Path>
            <Name>backupJob1</Name>
            <Files />
            <ArchiveFiles>
              <ArchiveFile>
                <Name>1.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint1\1.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>1.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\1.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
              <ArchiveFile>
                <Name>2.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint1\2.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>2.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\2.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
            </ArchiveFiles>
          </DirectoryOfBackup>
          <DirectoryOfBackup>
            <Path>Z:\backupJob\RestorePoint2</Path>
            <Name>backupJob2</Name>
            <Files />
            <ArchiveFiles>
              <ArchiveFile>
                <Name>1.txt.zip</Name>
                <Size>2</Size>
                <Path>Z:\backupJob\RestorePoint2\1.txt.zip</Path>
                <Files>
                  <FileOfJob>
                    <Name>1.txt</Name>
                    <Size>2</Size>
                    <Path>Z:\1.txt</Path>
                  </FileOfJob>
                </Files>
              </ArchiveFile>
            </ArchiveFiles>
          </DirectoryOfBackup>
        </Directories>
      </DirectoriesManager>
    </ActionsOfJob>
    <TypeStorage>Split</TypeStorage>
  </Job>
</BackupJobAndRestorePointManager>